*{font-family: "Microsoft YaHei"}
*{font-weight:  600px;}
@font-face {font-family: "Microsoft JhengHei";src: local("Microsoft YaHei")}
@font-face {font-family: "Arial";src: local("Microsoft YaHei")}
@font-face {font-family: "PMingLiU";src: local("Microsoft YaHei")}
@font-face {font-family: "MingLiU";src: local("Microsoft YaHei")}
@font-face {font-family: "細明體";src: local("Microsoft YaHei")}
@font-face {font-family: "AR PL UMING TW";src: local("Microsoft YaHei")}
@font-face {font-family: "Linux Libertine";src: local("Microsoft YaHei")}