[user]
    name = j16180339887
    email = jj16180339887@gmail.com
[core]
    editor = vim -c 'normal gg'
    autocrlf = false
    safecrlf = false
    pager = vim +'setlocal nogdefault' +'%sm/\\e.\\{-}m//ge' +'setlocal ft=diff' +'setlocal buftype=nofile' +'normal gg' -
[rerere]
    enabled = 1
    autoupdate = 1
[color]
    ui = auto
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[http]
    sslVerify = false
[commit]
    template = ~/.gitmessage
