[commit]
	# Comment out this on server
	template = ~/.gitmessage
[user]
	# Comment out this on server
	# Also comment out commit.template
	name = Joeky
	email = joeky5888@gmail.com
[rerere]
	enabled = 1
	autoupdate = 1
[color]
	ui = true
[diff]
	tool = vimdiff3
[difftool]
	prompt = false
[http]
	sslVerify = false
	maxRequests = 16
[merge]
	conflictstyle = diff3
	tool = vimdiff3
[gui]
	encoding = utf-8
[mergetool]
	prompt = false
[pull]
	rebase = true
[push]
	default = simple
[alias]
	history = log -p
	summary = log --stat
	diff2   = diff --no-index # Compare 2 non-git files/folders
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[fetch]
	parallel = 8
[submodule]
	fetchJobs = 8
[branch]
	autosetuprebase = always
[core]
	editor = vim -c 'normal! gg'
	autocrlf = false
	safecrlf = false
	quotepath = false
	# filemode = false # Set to false on Windows
	ignorecase = false
	pager = vim +' \
let gflag = &gdefault ? \"\" : \"g\" |\
silent exe \"%sm/\\\\e.\\\\{-}m//e\" . gflag |\
setlocal ft=git |\
setlocal buftype=nofile |\
exe \"g/^+++/d\" |\
exe \"g/^---/d\" |\
call histdel(\"search\", -1) |\
exe \"normal! gg\" |\
hi iBlueInfo ctermfg=0 ctermbg=39 |\
echo \"aaa\" |\
redir => aaa |\
silent exe \"%s/^+//ne\" . gflag |\
redir END |\
redir => ddd |\
silent exe \"%s/^-//ne\" . gflag |\
redir END |\
noh |\
redraw! |\
let aaa = matchstr( aaa, \"\\\\d\\\\+\" ) |\
let ddd = matchstr( ddd, \"\\\\d\\\\+\" ) |\
let aaa = aaa == \"\" ? \"+0\" : \"+\".aaa |\
let ddd = ddd == \"\" ? \"-0\" : \"-\".ddd |\
exe \"set ul=-1 | m-1 | let &ul=\" . &ul |\
echohl iBlueInfo | echon \"     Info     \" |\
echohl Function    | echon \" \" . aaa . \" additions\" |\
echohl Conditional | echon \" \" . ddd . \" deletions\" |\
echohl None ' -
