[user]
    name = j16180339887
    email = jj16180339887@gmail.com
[core]
    editor = vim
    autocrlf = false
    safecrlf = false
[rerere]
    enabled = 1
    autoupdate = 1
[color]
    ui = auto
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[http]
    sslVerify = false
[commit]
    template = ~/.gitmessage
