[submodule "oh-my-zsh"]
    path = oh-my-zsh
    url = https://github.com/robbyrussell/oh-my-zsh.git
    shallow = true
[submodule "zsh-syntax-highlighting"]
    path = zsh-syntax-highlighting
    url = https://github.com/zsh-users/zsh-syntax-highlighting.git
    shallow = true
[submodule "vimrc"]
    path = vimrc
    url = https://github.com/j16180339887/vimrc.git
    shallow = true
[submodule "powershell"]
    path = powershell
    url = https://github.com/j16180339887/powershell.git
    shallow = true
[submodule "grc"]
    path = grc
    url = https://github.com/garabik/grc.git
    shallow = true
[submodule "neofetch"]
    path = neofetch
    url = https://github.com/dylanaraps/neofetch.git
    shallow = true
