[submodule "ohmyzsh"]
	path = ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
	shallow = true
	branch = master
[submodule "zsh-syntax-highlighting"]
	path = zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
	shallow = true
[submodule "vimrc"]
	path = vimrc
	url = https://github.com/joeky888/vimrc.git
	shallow = true
[submodule "powershell"]
	path = powershell
	url = https://github.com/joeky888/powershell.git
	shallow = true
[submodule "neofetch"]
	path = neofetch
	url = https://github.com/dylanaraps/neofetch.git
	shallow = true
[submodule "inxi"]
	path = inxi
	url = https://github.com/smxi/inxi.git
	shallow = true
[submodule "app-fast"]
	path = app-fast
	url = https://github.com/joeky888/app-fast.git
	shallow = true
[submodule "grc"]
	path = grc
	url = https://github.com/garabik/grc.git
	branch = devel
[submodule "zsh-autosuggestions"]
	path = zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
	shallow = true
[submodule "powerlevel10k"]
	path = powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
	shallow = true
[submodule "bashtop"]
	path = bashtop
	url = https://github.com/aristocratos/bashtop.git
	shallow = true
[submodule "diff-highlight"]
	path = diff-highlight
	url = https://github.com/joeky888/diff-highlight.git
	branch = master
	shallow = true
