! XTerm

! General settings
XTerm*termName: xterm-256color
XTerm*geometry: 80x24
XTerm*saveLines: 1024000
XTerm*scrollBar: True
XTerm*loginshell: False
XTerm*cursorBlink: False
XTerm*visualBell: False

! Fonts and Encoding
XTerm*utf8: True
XTerm*locale: True
XTerm*utf8Title: True
XTerm*renderFont: True
XTerm*preeditType: Root
XTerm*xftAntialias: true
XTerm*font: *-fixed-*-*-*-18-*

! Trim trailing spaces
XTerm*trimSelection: true

! Fix alt-key inputting
XTerm*eightBitInput: false
XTerm*metaSendsEscape: true

! Copy and paste with clipboard
XTerm*translations: #override \
	Ctrl Shift <KeyPress> C: copy-selection(CLIPBOARD) \n\
	Ctrl Shift <KeyPress> V: insert-selection(CLIPBOARD)

! Allow selecting email/url by double-click
XTerm*charClass: 33:48,37-38:48,45-47:48,64:48,58:48,126:48,61:48,63:48,43:48,35:48

! Tango Theme

XTerm*background: #1C1C1C
XTerm*foreground: #DEDEDE

! black
XTerm*color0  : #2E3436
XTerm*color8  : #555753
! red
XTerm*color1  : #CC0000
XTerm*color9  : #EF2929
! green
XTerm*color2  : #4E9A06
XTerm*color10 : #8AE234
! yellow
XTerm*color3  : #C4A000
XTerm*color11 : #FCE94F
! blue
XTerm*color4  : #3465A4
XTerm*color12 : #729FCF
! magenta
XTerm*color5  : #75507B
XTerm*color13 : #AD7FA8
! cyan
XTerm*color6  : #06989A
XTerm*color14 : #34E2E2
! white
XTerm*color7  : #D3D7CF
XTerm*color15 : #EEEEEC

