! XTerm

! General settings
XTerm*termName: xterm-256color
XTerm*geometry: 80x24
XTerm*saveLines: 1024000
XTerm*scrollBar: True
XTerm*loginshell: False
XTerm*cursorBlink: False
XTerm*visualBell: False

! Fonts and Encoding
XTerm*utf8: True
XTerm*locale: en_US.UTF-8
XTerm*utf8Title: True
XTerm*renderFont: True
XTerm*preeditType: Root
XTerm*xftAntialias: true
XTerm*font: *-Monospace-*-*-*-18-*
! xterm*faceName:DejaVu Sans Mono:antialias=True:pixelsize=18
! xterm*faceNameDoublesize:Droid Sans Fallback:antialias=True:pixelsize=18

! Trim trailing spaces
XTerm*trimSelection: true

! Fix alt-key inputting
XTerm*eightBitInput: false
XTerm*metaSendsEscape: true

! Copy and paste with clipboard
XTerm*VT100.translations: #override \
	Ctrl Shift <KeyPress> C: copy-selection(CLIPBOARD) \n\
	Ctrl Shift <KeyPress> V: insert-selection(CLIPBOARD)

! Allow selecting email/url by double-click
XTerm*charClass: 33:48,37-38:48,45-47:48,64:48,58:48,126:48,61:48,63:48,43:48,35:48

! Monokai Theme

XTerm*background: #1B1D1E
XTerm*foreground: #F8F8F2

XTerm*color0  : #1B1D1E
XTerm*color1  : #E90000
XTerm*color2  : #00AF00
XTerm*color3  : #FFFF00
XTerm*color4  : #00AFFF
XTerm*color5  : #AE81FF
XTerm*color6  : #A1EFE4
XTerm*color7  : #F8F8F2
XTerm*color8  : #7E8E91
XTerm*color9  : #F92672
XTerm*color10 : #A6E22E
XTerm*color11 : #F4BF75
XTerm*color12 : #66D9EF
XTerm*color13 : #AE81FF
XTerm*color14 : #A1EFE4
XTerm*color15 : #F8F8F2
