/* Midnight Surfing - Global Dark Style is better */

/* Font */
*, * *, *[id], *[class], *[name]{
    font-family: "Ubuntu Mono", "Droid Sans Fallback", "DroidMono", "Sarasa Mono TC" !important;
    font-weight: 400!important;
}

/* Black */
*::selection, *[id]::selection, *[class]::selection, *[name]::selection{
	background-color: #00afff !important;
	color: #ffffff !important;
}

*, * *, *[id], *[class], *[name]{
    color: #AAA !important;
    text-shadow: none !important;
    background-color: rgba(0, 0, 0, 1) !important;
    border-color: #888 !important;
    border-top-color: #888 !important;
    border-bottom-color: #888 !important;
    border-left-color: #888 !important;
    border-right-color: #888 !important;
}

a, a *, a[id], a[class], a[name], a *[id], a *[class], a *[name]{
    color: #B1CBF7 !important;
}

