/* Midnight Surfing - Global Dark Style is better */

/* Font */
@font-face {
    font-family: "ASCII";
    src: local("Ubuntu Mono"),local("Inconsolata"),local("Droid Sans Mono"),local("DejaVu Sans Mono"),local("Monaco"),local("Consolas");
/*     src: local("Arial"); */
    unicode-range: U+00-7F,U+FF01-FF5E;
}
@font-face {
    font-family: "CJK";
    src: local("Noto Sans CJK TC"),local("Noto Sans CJK SC"),local("Noto Sans TC"),local("Noto Sans SC"),local("Iosevka"),local("Droid Sans Fallback"),local("DroidMono"),local("Wenquanyi Micro Hei"),local("WenQuanYi Zen Hei"),local("Sarasa Mono TC"),local("Hiragino Sans GB"),local("Microsoft JhengHei"),local("Microsoft YaHei");
    unicode-range: U+2E80-FAFF;
}
@font-face {
    font-family: "EMOJI";
    "", "", ""
    src: local("Apple Color Emoji"),local("Segoe UI Emoji"),local("Segoe UI Symbol"),local("Noto Color Emoji"),local("Noto Emoji"),local("FontAwesome"),local("FontawesomeCom"),local("fontello"),local("Material Icons"),local("VideoJS"),local("icomoon"),local("Ionicons"),local("icons"),local("iconfont-toolbar"),local("jw-icons"),local("Material Icons"),local("Glyphicons Halflings"),local("Circular");
}
*, * *, *[id], *[class], *[name]{
    font-family: "ASCII","EMOJI","CJK",monospace,sans-serif !important;
/*     font-weight: 400 !important; */
}

/* Black */
*::selection, *[id]::selection, *[class]::selection, *[name]::selection{
    background-color: #00afff !important;
    color: #ffffff !important;
}

*, * *, *[id], *[class], *[name]{
    color: #AAA !important;
    text-shadow: none !important;
    text-decoration: none !important;
    background-color: rgba(0, 0, 0, 1) !important;
    border-color: #888 !important;
    border-top-color: #888 !important;
    border-bottom-color: #888 !important;
    border-left-color: #888 !important;
    border-right-color: #888 !important;
}

a, a *, a[id], a[class], a[name], a *[id], a *[class], a *[name]{
    text-decoration: none !important;
    color: #B1CBF7 !important;
}

/* Invert */
html:not(img) {
    -webkit-filter: invert(100%) hue-rotate(180deg) contrast(70%) !important;
    background: #fff;
}
