[mysqld]
bind-address=0.0.0.0
port = 3306
character-set-server=utf8
user=mysql
init-file=/etc/mysql/initdb.sql
max_allowed_packet=500M'
skip-grant-tables

[mysqldump]
quick
max_allowed_packet=500M

[mysql]
default-character-set=utf8
safe-updates

[client]
default-character-set=utf8
