[Desktop Entry]
Encoding=UTF-8
Name=GVim
Comment=Edit text files in a new tab
Exec=gvim -p --remote-tab-silent %F
Terminal=false
Type=Application
Keywords=Text;editor;
Icon=gvim
Categories=Application;Utility;TextEditor;
StartupNotify=true
MimeType=text/*;applications/*;
