[Unit]
Description=pacman-mirrors reordering every 3 hours

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/bin/pacmirror

[Install]
WantedBy=multi-user.target
